.person-square {
  padding: 10px 5px;
  width: 50%;
  margin: 10px auto;
  background: red;
  min-height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}
